@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
	scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;

	overflow-x: hidden;
    background: var(--main_color1);

    --main_color1: rgb(20, 20, 20);
    --main_color2: #00cebb;
    --main_color2_brighter: #1bffe8;
	--main_color3: #2b3030;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1.15);
	}

	100% {
		transform: scale(0.95);
	}
}

::-webkit-scrollbar {
    width: 1vmin;
}

::-webkit-scrollbar-track {
    background: var(--main_color1);
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
    background: var(--main_color2);
}

.Mui-selected {
	color: var(--main_color2) !important;
}

.MuiTabs-indicator {
	background: var(--main_color2) !important;
}

.MuiTabs-scrollButtons.Mui-disabled {
	opacity: .3;
}

.MuiTabs-scrollButtons {
	color: var(--main_color2_brighter) !important;
}

.ulist {
	> .listitem {
		&::marker {
			color: var(--main_color2);
		}
	}
}
